<div class="container">
   <div class="col-md-8 order-md-1">
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Inicio</th>
            <th>Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of turnos" [routerLink]="['/confirmacion/', turno]" (click)="confirmarTurno(turno)">
            <td>{{formatDate(turno.start_time)}}</td>
            <td>{{formatDate(turno.end_time)}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>