<app-titulo></app-titulo>
<div class="container">
	<div class="col-md-8 order-md-1">
		<h4 class="mb-3">Hola, {{ personalData ? personalData.name : '' }}</h4>

		<button type="button" class="btn btn-outline-primary" routerLink="/admin/especialidades">Listado de especialidades</button><br>
		<button type="button" class="btn btn-outline-primary" routerLink="/admin/medicos">Listado de medicos</button><br>
		<button type="button" class="btn btn-outline-primary">Listado de pacientes</button>
	</div>
</div>